body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
form,
img,
dl,
dt,
dd,
table,
th,
td,
blockquote,
fieldset,
div,
strong,
label,
em {
        margin: 0;
        padding: 0;
        border: 0;
}

ul,
ol,
li {
        list-style: none;
}

input,
button {
        margin: 0;
        font-size: 12px;
        vertical-align: middle;
}

body {
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        margin: 0 auto;
        color: #898989;
}

table {
        border-collapse: collapse;
        border-spacing: 0;
}

b,
em,
i {
        font-style: normal;
        font-weight: normal;
}

h1,
h2,
h3 {
        font-size: 14px;
}

h4 {
        font-weight: normal;
        font-size: 14px;
}

h5 {
        font-size: 12px;
}

h6 {
        font-size: 12px;
        font-weight: normal;
}

img {
        display: block;
}

body {
        margin: 0;
        padding: 0;
        background: #d0ebfe;
}

a {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        highlight-color: rgba(0, 0, 0, 0);
}


body {
        background-image: url("../static/wechat/yanghe/bg.png");
        background-size: 100%;
}

.title {
        width: 70%;
        height: auto;
        margin: 10px 15% 10px 15%;
}

.map {
        width: 100% !important;
        margin: auto !important;
        height: 100% !important;
        overflow: hidden;
}


.map_box {
        position: absolute;
        width: 90vw;
        z-index: 9999;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
}

.point {
        color: #fff;
        font-size: 2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        background: #e46a5c;
        border-radius: 50px;
        border: 3px solid #000;
        padding: 0.1rem 1rem;
}

.point:after {
        content: "";
        vertical-align: middle;
        display: inline-block;
        width: 1.8rem;
        height: 1rem;
        background-repeat: no-repeat;
        background-image: url("../static/wechat/yanghe/point_icon.png");
        position: absolute;
        top: 2.4rem;
        left: 50%;
        z-index: 99;
        margin-left: -0.9rem;
}

.point_list {
        position: absolute;
        width: 90vw;
        z-index: 9999;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
}

.button_list {
        width: 90vw;
        height: auto;
        position: absolute;
        bottom: 10rem !important;
        margin: 0 5vw;
        z-index: 9999;
}

.button {
        background-image: url("../static/wechat/yanghe/button.png");
        background-size: 100% 100%;
        width: 8.5rem;
        float: left;
        height: 3rem;
        line-height: 2.5rem;
        color: #fff;
        margin-left: .5rem;
        font-size: 1.5rem;
}

.bottom {
        position: fixed;
        bottom: 0;
}

.copyright {
        position: absolute;
        bottom: 10px;
        background-color: rgba(0, 0, 0, 0.70);
        border-radius: 250px;
        width: 44%;
        height: 20px;
        line-height: 20px;
        margin: 0 28%;
        color: #fff;
}

.bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        background: rgba(0, 0, 0, 0.5);
        z-index: 99;
        display: none;
}

.content {
        position: fixed;
        top: 50%;
        left: 0;
        z-index: 9999;
        width: 90vw;
        margin: 0 5vw;
        margin-top: -200px;
        height: auto;
        display: block;
        background: #77d6ff;
        border-radius: 20px;
        border: 2px solid #000;
        padding: 1rem 2rem;
        text-align: left;
        color: rgb(56, 56, 56);
}

.con {
        clear: both;
        position: relative;
        top: -30px;
}

.con h1 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 5px;
        color: #333;
}

.con .desc {
        font-size: 1.5rem;
}


.content_close {
        position: relative;
        top: -3rem;
        right: -3rem;
        width: 8vw;
        float: right;
        z-index: 999999;
}

.mobile,
.daohang {
        background: #e46a5c;
        color: #fff;
        width: 50vw;
        margin: auto;
        border-radius: 30px;
        text-align: center;
        border: 2px solid #333;
        height: 4rem;
        line-height: 4rem;
        font-size: 2rem;
        margin-top: 2rem;
}

.mobile a,
.daohang a {
        color: #fff;
        text-decoration: none
}

.lhsl {
        margin-top: -6rem;
        margin-left: -4rem;
}

.zms {
        margin-top: 7rem;
        margin-left: 1rem;
}

.lhst {
        margin-top: -2rem;
        margin-left: -7rem;
}

.yhgf {
        margin-top: -2.5rem;
        margin-left: -8rem;
}

.dccj {
        margin-top: -9.5rem;
        margin-left: -13rem;
}

.xksk {
        margin-top: 10rem;
        margin-left: -10rem;
}

.gys {
        margin-top: -10rem;
        margin-left: 3.2rem;
}

.qlg {
        margin-top: 16rem;
        margin-left: -6rem;
}

.ylms {
        margin-top: -17rem;
        margin-left: -4rem;
}

.qtlz {
        margin-top: -13rem;
        margin-left: 3rem;
}

.xyjl {
        margin-top: 11rem;
        margin-left: -9rem;
}

.yxy {
        margin-top: -5.5rem;
        margin-left: -3rem;
}

.ltst {
        margin-top: 3rem;
        margin-left: -8rem;
}

.jgyg {
        margin-top: -11rem;
        margin-left: -11rem;
}

.syst {
        margin-top: -2rem;
        margin-left: -11rem;
}

.dcjb {
        margin-top: -6rem;
        margin-left: -15rem;
}

.hfxx {
        margin-top: 7rem;
        margin-left: -15rem;
}

.xac {
        margin-top: 10rem;
        margin-left: -1.8rem;
}

.ltxc {
        margin-top: -7rem;
        margin-left: -3rem;
}

.dkc {
        margin-top: 0em;
        margin-left: -11rem;
}

.sjc {
        margin-top: 5rem;
        margin-left: -11rem;
}

.dbc {
        margin-top: -2rem;
        margin-left: -3rem;
}

.yhxf {
        margin-top: -10rem;
        margin-left: -12rem;
}

.whz {
        margin-top: -4rem;
        margin-left: -7rem;
}

.tsg {
        margin-top: -6rem;
        margin-left: 4rem;
}

.xx {
        margin-top: -2rem;
        margin-left: 4rem;
}

.zgfw {
        margin-top: 0rem;
        margin-left: -15rem;
}

.yhzf {
        margin-top: -18rem;
        margin-left: -6rem;
}

.yhxz {
        margin-top: -14rem;
        margin-left: -10rem;
}

.yhga {
        margin-top: 7rem;
        margin-left: -10rem;
}

.yhjj {
        margin-top: 3rem;
        margin-left: -6.8rem;
}

.cjwh {
        margin-top: 4rem;
        margin-left: -5.8rem;
}

.yy {
        margin-top: -1rem;
        margin-left: 1.2rem;
}

.ylfw {
        margin-top: -7rem;
        margin-left: 1.2rem;
}

.gds {
        margin-top: 2rem;
        margin-left: 6.2rem;
}

.gjzz {
        margin-top: 7rem;
        margin-left: 2.2rem;
}

.yly {
        margin-top: -4rem;
        margin-left: -5.8rem;
}

.sc {
        margin-top: 0rem;
        margin-left: 0.2rem;
}

.detail_map {
        width: 30%;
        position: absolute;
        right: 2%;
        z-index: 9999
}

@media screen and (max-width: 375px) {
        .title {
                margin: 10px 15% 10px 15%;
        }

        .map {
                width: 70%;
                margin: 0px 15%;
        }

        .button_list {
                bottom: 130px;
        }

}

@media screen and (max-width: 320px) {
        .title {
                width: 60%;
                margin: 10px 20% 10px 20%;
        }

        .map {
                width: 70%;
                margin: 0px 15%;
        }

        .button_list {
                bottom: 100px;
        }

}

@media screen and (min-height: 720px) {
        .title {
                width: 80%;
                margin: 20px 10% 10px 10%;
        }

        .map {
                width: 90%;
                margin: 0 5%;
        }

        .button_list {
                bottom: 130px;
        }
}

@-webkit-keyframes bounceInDown {
        0% {
                opacity: 0;
                -webkit-transform: translateY(-2000px)
        }

        60% {
                opacity: 1;
                -webkit-transform: translateY(30px)
        }

        80% {
                -webkit-transform: translateY(-10px)
        }

        100% {
                -webkit-transform: translateY(0)
        }
}

@-moz-keyframes bounceInDown {
        0% {
                opacity: 0;
                -moz-transform: translateY(-2000px)
        }

        60% {
                opacity: 1;
                -moz-transform: translateY(30px)
        }

        80% {
                -moz-transform: translateY(-10px)
        }

        100% {
                -moz-transform: translateY(0)
        }
}

@-o-keyframes bounceInDown {
        0% {
                opacity: 0;
                -o-transform: translateY(-2000px)
        }

        60% {
                opacity: 1;
                -o-transform: translateY(30px)
        }

        80% {
                -o-transform: translateY(-10px)
        }

        100% {
                -o-transform: translateY(0)
        }
}

@keyframes bounceInDown {
        0% {
                opacity: 0;
                -webkit-transform: translateY(-2000px)
        }

        60% {
                opacity: 1;
                -webkit-transform: translateY(30px)
        }

        80% {
                -webkit-transform: translateY(-10px)
        }

        100% {
                -webkit-transform: translateY(0)
        }
}

.bounceInDown {
        animation: bounceInDown 1s ease 1;
        -webkit-animation: bounceInDown 1s ease 1;
        -moz-animation: bounceInDown 1s ease 1;
        -o-animation: bounceInDown 1s ease 1;
}


@-webkit-keyframes zoomIn {
        0% {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1)
        }

        50% {
                -webkit-transform: scale3d(1.1, 1.1, 1.1);
                transform: scale3d(1.1, 1.1, 1.1)
        }

        100% {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1)
        }
}

@keyframes zoomIn {
        0% {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1)
        }

        50% {
                -webkit-transform: scale3d(1.1, 1.1, 1.1);
                transform: scale3d(1.1, 1.1, 1.1)
        }

        100% {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1)
        }
}

.zoomIn {
        animation: zoomIn 1s 1s ease infinite;
        -webkit-animation: zoomIn 1s 1s ease infinite;
        -moz-animation: zoomIn 1s 1s ease infinite;
        -o-animation: zoomIn 1s 1s ease infinite;
}

@-webkit-keyframes fadeInUp {
        0% {
                opacity: 0;
                -webkit-transform: translate3d(0, 200px, 0);
                transform: translate3d(0, 200px, 0)
        }

        to {
                opacity: 1;
                -webkit-transform: none;
                transform: none
        }
}

@keyframes fadeInUp {
        0% {
                opacity: 0;
                -webkit-transform: translate3d(0, 200px, 0);
                transform: translate3d(0, 200px, 0)
        }

        to {
                opacity: 1;
                -webkit-transform: none;
                transform: none
        }
}

.fadeInUp {
        animation: fadeInUp 1s ease 0s 1 normal both running;
        -webkit-animation: fadeInUp 1s ease 0s 1 normal both running;
        -moz-animation: fadeInUp 1s ease 0s 1 normal both running;
        -o-animation: fadeInUp 1s ease 0s 1 normal both running;
}


@-webkit-keyframes flipInY {
        0% {
                -webkit-transform: perspective(400px) rotateY(90deg);
                transform: perspective(400px) rotateY(90deg);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
                opacity: 0
        }

        40% {
                -webkit-transform: perspective(400px) rotateY(-20deg);
                transform: perspective(400px) rotateY(-20deg);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in
        }

        60% {
                -webkit-transform: perspective(400px) rotateY(10deg);
                transform: perspective(400px) rotateY(10deg);

        }

        80% {
                -webkit-transform: perspective(400px) rotateY(-5deg);
                transform: perspective(400px) rotateY(-5deg)
        }

        to {
                -webkit-transform: perspective(400px);
                transform: perspective(400px);
                opacity: 1
        }
}

@keyframes flipInY {
        0% {
                -webkit-transform: perspective(400px) rotateY(90deg);
                transform: perspective(400px) rotateY(90deg);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
                opacity: 0
        }

        40% {
                -webkit-transform: perspective(400px) rotateY(-20deg);
                transform: perspective(400px) rotateY(-20deg);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in
        }

        60% {
                -webkit-transform: perspective(400px) rotateY(10deg);
                transform: perspective(400px) rotateY(10deg);

        }

        80% {
                -webkit-transform: perspective(400px) rotateY(-5deg);
                transform: perspective(400px) rotateY(-5deg)
        }

        to {
                -webkit-transform: perspective(400px);
                transform: perspective(400px);
                opacity: 1
        }
}

.flipInY {
        animation: flipInY 1s ease 0s 1 normal both running;
        -webkit-animation: flipInY 1s ease 0s 1 normal both running;
        -moz-animation: flipInY 1s ease 0s 1 normal both running;
        -o-animation: flipInY 1s ease 0s 1 normal both running;
}


@-webkit-keyframes bounce {
        0% {
                opacity: 0;
                filter: alpha(opacity=0);
                -webkit-transform: translateY(-200px);
                -moz-transform: translateY(-200px);
                -o-transform: translateY(-200px);
                -ms-transform: translateY(-200px);
                transform: translateY(-200px);
        }

        60% {
                opacity: 1;
                -ms-filter: none;
                filter: none;
                -webkit-transform: translateY(5px);
                -moz-transform: translateY(5px);
                -o-transform: translateY(5px);
                -ms-transform: translateY(5px);
                transform: translateY(5px);
        }

        80% {
                -webkit-transform: translateY(-5px);
                -moz-transform: translateY(-5px);
                -o-transform: translateY(-5px);
                -ms-transform: translateY(-5px);
                transform: translateY(-5px);
        }

        100% {
                -webkit-transform: translateY(0);
                -moz-transform: translateY(0);
                -o-transform: translateY(0);
                -ms-transform: translateY(0);
                transform: translateY(0);
                opacity: 1
        }
}

@keyframes bounce {
        0% {
                opacity: 0;
                filter: alpha(opacity=0);
                -webkit-transform: translateY(-200px);
                -moz-transform: translateY(-200px);
                -o-transform: translateY(-200px);
                -ms-transform: translateY(-200px);
                transform: translateY(-200px);
        }

        60% {
                opacity: 1;
                -ms-filter: none;
                filter: none;
                -webkit-transform: translateY(5px);
                -moz-transform: translateY(5px);
                -o-transform: translateY(5px);
                -ms-transform: translateY(5px);
                transform: translateY(5px);
        }

        80% {
                -webkit-transform: translateY(-5px);
                -moz-transform: translateY(-5px);
                -o-transform: translateY(-5px);
                -ms-transform: translateY(-5px);
                transform: translateY(-5px);
        }

        100% {
                -webkit-transform: translateY(0);
                -moz-transform: translateY(0);
                -o-transform: translateY(0);
                -ms-transform: translateY(0);
                transform: translateY(0);
                opacity: 1
        }
}

.bounce {
        animation: bounce 1s ease 0s 1 both;
        -webkit-animation: bounce 1s ease 0s 1 both;
        -moz-animation: bounce 1s ease 0s 1 both;
        -o-animation: bounce 1s ease 0s 1 both;
}